* {
    box-sizing: border-box;
    color: #333;
}

body {
    background-color: #81a69b;
    background-image: url(http://pets-images.dev-apis.com/pets/wallpaperB.jpg);
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.search-params {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.search-params form {
    border-radius: 6px;
    background: #faeff0;
    box-shadow: 0px 0px 12px #aaa, -0px -0px 12px #fff;
    margin: 0px 25px 0px 0px;
    padding: 35px 15px 15px 15px;
    flex: 0 0 360px;
}

.search-params form label input,
.search-params form label select {
    margin-top: 7px
}

.search {
    border-radius: 6px;
    background: #faeff0;
    box-shadow: 0px 0px 12px #aaa, -0px -0px 12px #fff;
    width: 715px;
    padding: 15px;
    margin-bottom: 25px;
    flex: 0 0 715px;
    display: flex;
    flex-wrap: wrap
}

.details {
    width: 1100px;
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 6px;
    background: #faeff0;
    box-shadow: 0px 0px 12px #aaa, -0px -0px 12px #fff;
}

.pet {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 1rem 0;
    padding: 1rem 0;
    border-bottom: #333 2px solid;
    flex: 0 1 100%;
    display: flex;
    flex: 0 1 100%;
    flex-wrap: wrap;
    gap: 2rem;
}


.image-container {
    clip-path: circle(49% at 50% 50%);
    margin: 2rem 0;
    flex: 0 1 250px;
}

.pet img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
}

.pet-name {
    text-align: center;
}

.info {
    flex: 0 1 calc(100% - 300px);
    height: auto;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pet h1 {
    white-space: nowrap;
    font-weight: normal;
    font-size: 30px;
    color: #333;
    width: 95%;
    overflow: hidden;
    margin: 0;
    text-overflow: ellipsis;
}

header>a,
#root>div>h1 {
    display: inline-block;
    background-image: url(http://static.frontendmasters.com/resources/2019-05-02-complete-intro-react-v5/image-logo.png);
    filter: brightness(150%);
    width: 279px;
    height: 76px;
    overflow: hidden;
    text-indent: -9999px;
    margin: 20px 0;
}

.pet h2 {
    white-space: nowrap;
    font-weight: normal;
    font-size: 20px;
    margin: 0;
    text-overflow: ellipsis;
}

header a {
    color: #333;
    font-size: 3px;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding-bottom: 10px;
}

header {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 1100px;
    margin: 0 auto;
    padding: 20px 0px 0px 0px;
}

.details p {
    line-height: 1.5;
    padding: 0px 15px;
}

.details h1 {
    text-align: center;
    color: #333;
    font-size: 60px;
    margin: 0 0 2rem 0px;
}

.details h2 {
    text-align: center;
    margin: 2rem 0px;
}

.details .pet--about__info {
    text-align: center;
    margin: 2rem 0;
}

.details i.ri-circle-fill {
    font-size: 12px;
}

.carousel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    margin-top: 8px;
}

.carousel>img {
    max-width: 45%;
    max-height: 400px;
}

.carousel-smaller {
    width: 50%;
}

.carousel-smaller>button {
    background-color: transparent;
    border: 0;
    padding: 0;
    border-radius: 50%;
    z-index: 2;
}

.carousel-smaller>button>img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    margin: 15px;
    cursor: pointer;
    border: 2px solid #333;
    z-index: 1;
}

.carousel-smaller>img.active {
    border-color: #333;
    opacity: 0.6;
}

.search-params label {
    display: block;
    width: 60px;
}

.search-params input,
.search-params select {
    margin-bottom: 30px;
    font-size: 18px;
    height: 30px;
    width: 325px;
}

.search-params button,
#modal button,
#modal a,
.details button:not(.image-btns) {
    background-color: #ad343e;
    padding: 5px 25px;
    color: white;
    font-size: 18px;
    border: #333 1px solid;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

#modal a {
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
}

.search-params button:hover {
    background-color: #122622;
}

.search-params button:active {
    background-color: #5f1d22;
}

.search-params button:focus {
    border: 1px solid cornflowerblue;
}

#modal {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal:empty {
    display: none;
}

#modal>div {
    background-color: white;
    max-width: 500px;
    padding: 15px;
    text-align: center;
    border-radius: 30px;
    background: #faeff0;
}

#modal .buttons button {
    display: inline-block;
    margin-right: 15px;
}


.loading-pane {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 15px;
}

form .pet {
    float: unset;
    margin: 0 auto;
}

.loader {
    font-size: 100px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.mini.loading-pane {
    height: 34px;
}

.mini .loader {
    font-size: 34px;
}

/* pagination */


.hide {
    display: none;
    visibility: hidden;
    height: 0;
}

.pagination_container {
    display: flex;
    align-items: center;
    flex: 0 0 100%;
    justify-content: center;
    margin: 4rem 0;
    padding: 2rem 0;
    background: #faeff0;
    box-shadow: 0px 0px 12px #aaa, -0px -0px 12px #fff;
    gap: 2rem;
}

.pagination_container button {
    margin: 0;
}

.arrow_text {
    display: block;
    vertical-align: middle;
    font-size: 13px;
    vertical-align: middle;
    position: absolute;
    left: -9999999px;
}

.pagination_number {
    --size: 32px;
    --margin: 6px;
    margin: 0 var(--margin);
    border-radius: 6px;
    background: #ff4d5fba;
    min-width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 6px;
    transition: 0.3s ease;
}

.pagination_number.arrow i {
    color: #fff;
    font-weight: bold;
}

.pagination_container .pagination_number:hover,
.pagination_container .pagination_number:active {
    background: #f8142bef;
}

.pagination_container .pagination_active {
    background: #f8142bef;
    position: relative;
    border: 1px solid #000;
}

@media only screen and (max-width: 1129px) {
    header {
        display: flex;
        align-content: center;
        justify-content: center;
        width: 95%;
        margin: 0 auto;
        padding: 20px 0px 0px 0px;
    }

    .search-params {
        width: 95%;
    }

    .search-params label {
        width: auto;
    }

    .search-params input,
    .search-params select {
        width: 100%;
    }

    .search-params form {
        margin-bottom: 20px;
        width: 100%;
        flex: 0 0 100%;
    }

    .search {
        width: 100%;
        flex: 0 1 100%;
        padding: 15px;
        border-radius: 9px;
        float: left;
        margin-bottom: 25px;
    }

    .details {
        width: 95%;
        margin: 0 auto;
        padding: 15px;
        border-radius: 9px;
        margin-bottom: 25px;
    }

    .info {
        width: 65%;
    }

    .info h1 {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .info h2 {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media only screen and (max-width: 945px) {
    .search-params {
        width: 95%;
    }

    .search {
        width: 100%;
        flex: 0 1 100%;
    }

    .search-params form {
        margin: 0 0 2rem 0;
    }

    .search-params form,
    .search-params form * {
        width: 100%;
        flex: 0 1 100%;
    }
}

@media only screen and (max-width: 600px) {

    .info {
        text-align: center;
        flex: 0 1 100%;
    }

    .image-container {
        margin: 0 auto;
        flex: 0 1 100%;
    }

    .carousel-smaller button>img {
        width: 60px;
        height: 60px;
        background-color: none;
        color: transparent;
        display: inline;
    }

    .pagination_container {
        gap: 1rem;
        flex-wrap: wrap;
    }
}